<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="header navbar navbar-light bg-light">
        <h1> Burgers?!</h1>
      </div>
    </div>
  </div>

  <div class="row content-plate">

    <div class="col-3">

      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block }}
      {{/unless}}
      {{/each}}

    </div>

    <div class="col-6 text-center">
      <h2>Add a Burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>
        <button id="add-burger" class="btn btn-primary" type="submit">Add Burger</button>
        <button id="reset" class="btn btn-danger" type="submit">Eat burgers again!</button>
      </form>
    </div>

    <div class="col-3">

      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block }}
      {{/if}}
      {{/each}}

    </div>

  </div>

</div>